@use "../global/mixins.scss" as m;
@use "../global/variables.scss" as v;

footer {
    @include m.flex(column, start, center);
    padding: 1rem;
    gap: 1rem;

    .footer-upper {
        @include m.flex(row, start, center);
        width: 100%;
        .footer-header {
            text-align: start;
            width: 50%;
            font-size: v.$m;
        }
    }


    .footer-content {
        @include m.flex(column, start, center);
        gap: 1rem;
        width: 100%;
    }

    .footer-lower {
        width: 100%;
        border-top: 0.5px solid #6F6F6F;
        padding: 1rem 0;
        p {
            font-size: v.$xs;
            color: black;
        }
    }
}