@use "../global/mixins.scss" as m;
@use "../global/variables.scss" as v;

.room-picture-fade-container {
  position: relative;
  overflow: hidden;

  &:hover .room-image {
    filter: brightness(0.4);
  }

  &:hover .room-image-header {
    opacity: 0;
  }

  &:hover .room-image-text {
    opacity: 1;
  }
}

.room-picture {
  width: 100%;
  height: 100%;
  .room-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: filter 0.3s ease;
  }
}

.room-image-header,
.room-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.room-image-header {
  opacity: 1;
  font-size: v.$xl;
  font-weight: bold;
}
.room-image-text {
  opacity: 0;
}
