@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border($pixels: 1px, $color: black) {
  border: $pixels solid $color;
}

@mixin horScroll() {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-color: black transparent;
}

@mixin desk {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 600px) and (max-width: 1000px) {
    @content;
  }
}
