$xs: 12px;
$s: 16px;
$sm: 20px;
$m: 24px;
$l: 32px;
$xl: 48px;
$xxl: 64px;

$black: #000;
$white: #fff;

$priFont: "Playfair Display", serif;
$secFont: "Kaisei Decol", serif;
$headerFont: "Playfair Display SC", serif;
