@use "../global/mixins.scss" as m;
@use "../global/variables.scss" as v;

.food-section {
  @include m.flex(column);
  width: 100%;
  margin-top: 100px;
  h1 {
    font-size: v.$l;
    margin-bottom: 1rem;
  }
  .breakfast,
  .kitchen {
    width: 100%;
    padding-top: 1rem;
    .breakfast-img,
    .kitchen-img {
      width: 100%;
      object-fit: cover;
    }
  }
  .food-stigen-container {
    @include m.flex(column, center, start);
    width: 100%;
    padding-top: 2rem;
    h2 {
      font-size: v.$m;
    }
  }
}
.food-stigen-text {
  padding: 2rem 0;
}
@include m.tablet {
  .food-section-desktop {
    @include m.flex(column);
    margin-top: 100px;

    h1 {
      font-size: v.$xl;
    }
    .food-info-desktop {
      @include m.flex();
      gap: 6rem;
      h2 {
        font-size: v.$l;
        padding-bottom: 1rem;
      }
      p {
        font-size: v.$s;
        line-height: 1.2;
      }
    }
    .restaurang-stigen-desktop {
      @include m.flex(column);
      h1 {
        font-size: v.$l;
        padding: 2rem 0 1rem 0;
      }
      .stigen-images-desktop {
        width: 100%;
        @include m.flex();
        gap: 1rem;
        .stigen-pizza,
        .stigen-steak {
          width: calc(50% - 0.5rem);
          .stigen-img {
            width: 100%;
          }
        }
      }
    }
    .stigen-info-desktop {
      width: 100%;
      padding: 2rem 6rem;
      @include m.flex(column);
      h2 {
        padding: 2rem 0;
      }
    }
  }
}
@include m.desk {
  .food-section-desktop {
    @include m.flex(column);
    h1 {
      font-size: v.$xl;
    }
    .food-info-desktop {
      @include m.flex();
      gap: 6rem;
      h2 {
        font-size: v.$l;
        padding-bottom: 1rem;
      }
      p {
        font-size: v.$s;
        line-height: 1.2;
      }
    }
    .restaurang-stigen-desktop {
      @include m.flex(column);
      h1 {
        font-size: v.$l;
        padding: 2rem 0 1rem 0;
      }
      .stigen-images-desktop {
        width: 100%;
        @include m.flex();
        gap: 1rem;
        .stigen-pizza,
        .stigen-steak {
          width: calc(50% - 0.5rem);
          .stigen-img {
            width: 100%;
          }
        }
      }
    }
    .stigen-info-desktop {
      width: 100%;
      padding: 2rem 6rem;
      @include m.flex(column);
      h2 {
        padding: 2rem 0;
      }
    }
  }
}
