@use "../global/mixins.scss" as m;
@use "../global/variables.scss" as v;
@use "../global/global.scss" as g;

.rooms-header {
  width: 100%;
  margin-top: 100px;
  @include m.flex(column);
  padding: 0 1rem;
  h1 {
    font-weight: 400;
    font-size: v.$l;
    margin: 0 0 1rem 0;
  }
  p {
    font-size: v.$s;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  @include m.desk {
    padding: 0 6rem;
    margin-top: 0;
    h1,
    p {
      max-width: 1100px;
    }
  }
}

.rooms-section {
  width: 100%;
  @include m.flex(column, center, start);
  padding: 0 1rem;
  h2 {
    padding-top: 2rem;
    font-weight: 400;
    font-size: v.$m;
  }
  .dog-text {
    font-size: v.$s;
    padding: 1rem 0;
  }
  .discount {
    font-size: v.$m;
    font-weight: 600;
  }
}
@include m.desk {
  .desktop-rooms-container {
    @include m.flex(column);
    width: 100%;
    padding: 0 6rem;
    .desktop-booking {
      width: 100%;
      max-width: 1100px;
      @include m.flex(row, space-between, center);
      gap: 2rem;
      .desktop-discount {
        font-size: v.$m;
        font-weight: 600;
        width: calc(70% - 2rem);
      }
    }
    .desktop-rooms {
      width: 100%;
      @include m.flex();
      padding: 2rem 0;
      max-width: 1100px;
      gap: 2rem;
    }
    .desktop-rooms-sec {
      @include m.flex(column, start, start);
      gap: 1rem;
      width: 100%;
      max-width: 1100px;
      padding-bottom: 2rem;
      .dog-text-desktop {
        font-size: v.$m;
      }
    }
  }
}
