@use "../global/mixins.scss" as m;
@use "../global/variables.scss" as v;

.rooms-header {
  width: 100%;
  margin-top: 100px;
  @include m.flex(column);
  h1 {
    font-weight: 400;
    font-size: v.$l;
    margin-bottom: 1rem;
  }
  p {
    font-size: v.$s;
    margin-bottom: 1rem;
  }
  @include m.desk {
    margin-top: 0;
  }
}

.rooms-section {
  width: 100%;
  @include m.flex(column, center, start);
  h2 {
    padding-top: 2rem;
    font-weight: 400;
    font-size: v.$m;
  }
  .dog-text {
    font-size: v.$s;
    padding: 1rem 0;
  }
  .discount {
    font-size: v.$m;
    font-weight: 600;
    padding-bottom: 1rem;
  }
}
@include m.tablet {
  .desktop-rooms-container {
    @include m.flex(column);
    width: 100%;
    .desktop-booking {
      width: 100%;
      @include m.flex(row, space-between, center);
      gap: 2rem;
      .desktop-discount {
        font-size: v.$m;
        font-weight: 600;
        width: calc(60% - 2rem);
      }
    }
    .desktop-rooms {
      width: 100%;
      @include m.flex();
      padding: 2rem 0;
      max-width: 1100px;
      gap: 2rem;
    }
    .desktop-rooms-sec {
      @include m.flex(column, start, start);
      gap: 1rem;
      width: 100%;
      max-width: 1100px;
      padding-bottom: 2rem;
    }
  }
}

@include m.desk {

  .rooms-header {
        margin-top: 100px;

  }
  
  .desktop-rooms-container {
    @include m.flex(column);
    width: 100%;

    .desktop-booking {
      width: 100%;
      @include m.flex(row, space-between, center);
      gap: 2rem;
      flex-wrap: wrap;
      .desktop-discount {
        font-size: v.$m;
        font-weight: 600;
        width: calc(60% - 2rem);
      }
    }
    .desktop-rooms {
      width: 100%;
      @include m.flex();
      padding: 2rem 0;
      max-width: 1100px;
      gap: 2rem;
    }
    .desktop-rooms-sec {
      @include m.flex(column, start, start);
      gap: 1rem;
      width: 100%;
      max-width: 1100px;
      padding-bottom: 2rem;
      .dog-text-desktop {
        font-size: v.$s;
      }
    }
  }
}
