@use "../../global/mixins.scss" as m;
@use "../../global/variables.scss" as v;

.button {
  color: v.$white;
  font-size: v.$m;
  background-color: v.$black;
  padding: 0.75rem 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

